@page "/mihistoria"

<PageTitle>Mi historia</PageTitle>

<div class="p-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <h1 class="display-4">Mi historia</h1>
        <p class="lead">A continuación les escribiré información relevante sobre los videojuegos que marcaron mi vida.</p>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="images/fav1.jpg" class="card-img-top" alt="Videojuego favorito 1" />
                <div class="card-body">
                    <h5 class="card-title">BioShock Infinite</h5>
                    <p class="card-text">
                        El juego de juegos. Este juego me convirtió en gamer. Es la razón por la que quise una computadora gamer. Su historia es inmersiva, cautivadora. Los personajes todos memorables. La ambientación es increíble. Es un juego que me marcó profundamente y siempre tendrá un lugar especial en mi corazón, aunque esto suene tremendamente sentimental. El plottwist final es uno de los mejores que he visto en un videojuego, y la forma en que se entrelazan los temas de la historia es simplemente brillante.
                    </p>
                    <button class="btn btn-primary">Conocer más</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="images/fav2.jpg" class="card-img-top" alt="Videojuego favorito 2" />
                <div class="card-body">
                    <h5 class="card-title">Resident Evil 7</h5>
                    <p class="card-text">
                        Este juego es espeluznante y me encanta la atmósfera de terror que crea. La historia es intrigante y los personajes son memorables. Además, el cambio a una perspectiva en primera persona le dio un nuevo giro a la serie, haciéndolo aún más inmersivo. Es uno de mis juegos favoritos por su capacidad para mantenerme al borde de mi asiento.
                    </p>
                    <button class="btn btn-primary">Conocer más</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="images/fav3.jpg" class="card-img-top" alt="Videojuego favorito 3" />
                <div class="card-body">
                    <h5 class="card-title">Fallout: New Vegas</h5>
                    <p class="card-text">
                        Este videojuego tiene una narrativa rica que depende enteramente de tus elecciones. Puedes unirte a diferentes facciones, cada una con su propia historia y consecuencias. La libertad de explorar el vasto mundo post-apocalíptico y tomar decisiones que afectan el curso de la historia es lo que hace que este juego sea tan especial para mí. Nostalgia me trae incluso.
                    </p>
                    <button class="btn btn-primary">Conocer más</button>
                </div>
            </div>
        </div>
    </div>
</div>
