@page "/statustest"

<h3>Prueba del estado del sistema</h3>

<SystemStatus StatusCode="200" />
<SystemStatus StatusCode="3312"/>
<SystemStatus StatusCode="404" />
<SystemStatus StatusCode="117" />
<SystemStatus StatusCode="500" />
<SystemStatus StatusCode="665" />